.login {
  height: 78.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 3.5rem;
  }

  &__form {
    margin: 3rem 0;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 50rem;
    height: 5rem;
    margin-top: 3rem;
    box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;

    &::placeholder {
      font-size: 2rem;
      font-style: italic;
      color: rgb(29, 29, 29);
    }

    &:focus {
      outline: none;
    }
  }

  &__submit {
    margin-top: 4rem;
    width: 20rem;
    height: 4rem;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.04);
    }
  }

  &__link {
    color: rgb(0, 102, 255);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
